/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Generic Styles */

body { 
	font-family: 'Open Sans', sans-serif;
	background: white;
	font-size: 14px; /* this is 1em */
	line-height: 1.5;
	color:black; 
	
}

h1 {
	font-size: 71px;
	line-height: 106px;
	font-weight: bold;
	margin-bottom:18px;
	
}

h2 {
	font-size: 48px;
	line-height: 1.5;
	font-weight: bold;
	margin-bottom:12px;
	
} 

h3 {
	font-size: 31px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 23px;
	margin-left: 14px;
}

h4 {
	border: #c78b07;
	border-bottom-style: solid;
	margin-left: 14px;
	margin-right: 14px;
}


p {
	margin-bottom: 1em; /* font size 14px, 1em=14 */
}

img {
	max-width: 100%;
	height:auto;
}


 .container{
	max-width: 1200px;
	padding: 1em;
 }

 .logo {
	background: #c78b07;
	padding-top: 20px;
	padding-bottom: 20px;
	
 }

 
 nav{
	background:#222222;
	
	

}
 
 nav a {
	font-size: 18px;
	color:#c78b07;
	text-align:center;
	display:block;
	width:100%;
	text-decoration: none;
	padding-top:18px;
	padding-bottom:18px;
 }

 nav a:link,
nav a:visited{
    font-size: 18px;
    color: #c78b07;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 17px;
    padding-bottom: 17px;
}

nav .current a:link,
nav .current a:visited {
    color: black;
    background-color: #c78b07;
}

.home{
	color:#000000
 }

 
form {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 40px;
	

}

form input{
	width: 94%;
	height: 40px;
}

form button{
	
	height: 40px;
	width: 5%;


}
 



/* section specific styles */

/* welcome section */
 .button2 {
	background-color:#c78b07;
	border: none;
	color:black;
	padding: 30px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px;
	cursor: pointer;
  }

 /* section specific styles */


 .header-welcome {
	background-image: url(../images/main-banner.jpg);
	background-size:cover;
	padding-top:68px;
	padding-bottom:68px;
 }

 .header-welcome .container {
	background:rgba(0, 0, 0, 0.5);
	color: white;
	padding-top: 50px;
	padding-bottom: 14px;
 }

/* about section */

.section-about{
	background-color: #ffe6ac;
	
}

/* services section*/

.section-services img {
	width: 100%;
	height:auto
}

.section-services p {
	margin: 14px 14px;
}
/*digital section*/

.img-digital {
	background-color: #ffe6ac;
	margin-bottom: 14px;
}


.section-services button {
	background-color:#222222;
	border: none;
	color:white;
	padding: 30px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 14px 14px;
	cursor: pointer;
}

.img-marketing {
	background-color: #ffe6ac;
	margin-bottom: 14px;
}

.img-video {
	background-color: #ffe6ac;
	margin-bottom: 14px;
	
}

.img-webdev {
	background-color: #ffe6ac;
	margin-bottom: 14px;
}

.img-print {
	background-color: #ffe6ac;
	margin-bottom: 14px;
}

/* Vision Section */

.section-vision .container{
	background-image: url(../images/vision.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	
	
	
	
  	
	
}

 .section-vision h3{
	color: white;
	padding-bottom: 25px;
	

	
 }

 .section-vision p{
	margin-left: 14px;
	color: white;
 }

 .section-vision button {
	background:rgba(0, 0, 0, 0.5);
	border-style:solid;
	border-color: #c78b07;
	color:white;
	padding: 30px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 14px 14px 14px;
	cursor: pointer;
}

/* section our team */

.section-team img {
	width: 100%;
}

.img-john {
	background-color: #ffe6ac;
	margin-bottom: 14px;
	padding-bottom: 30px;
}

.img-bob{
	background-color: #ffe6ac;
	margin-bottom: 14px;
	padding-bottom: 30px;
}

/* contact us section */



form .inputb {
	width:99.5%;
	margin-left: 0px;
	padding-left:0px;
	
}
textarea {
	width: 99.5%;
	height: 150px;
	resize:none;
}

.message button {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
	color: #c78b07;
	margin-top: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

/*table section */
.table h3 {
	margin-left: 0px;
	padding-left: 0px;
}
table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	margin-left: 0px;
	margin-right: 14px;
  }

  table {
	height: 50px;
	width: 100%;
  }

  th{
	height: 50px;
	vertical-align: middle;
	background-color: #ffe6ac;
  }

  td {
	text-align:left;
	vertical-align: middle;
	height: 50px;
	padding-left: 14px;
	width: 60%;
  }

  /* location section */



  .section-location h3 {
	margin-left: 0px;
	
  }

.map iframe {
	width: 100%;
}

.section-location {
	width:100%;
}

  footer {
	color: #c78b07;
	background-color: #000000;
  }

  .unsplash{
	text-decoration: underline;
	text-decoration-color: #c78b07;
  }



 @media screen and (min-width: 760px){
	.container {
		width:706px;
		margin: 0 auto;
	}
 }


/* desktop styles */

@media screen and (min-width: 1200px){
	.container{
		width: 1168px;
		margin: 0 auto;
		padding: 0 auto;
		
	}
	/* grid layout )section services */
	.section-services .container{
		display:grid;
		
		grid-template-columns: 160px 160px 160px 160px 160px 160px;
		grid-template-rows: 80px 665px 665px;
		gap: 15px;

	}

	.item1{
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	.img-digital{
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.img-marketing{
		grid-column-start: 4;
		grid-column-end: 7;
		grid-row-start:2;
		grid-row-end: 3;
	}

	.img-video{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;

	}

	.img-webdev{
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 4;

	}

	.img-print{
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 3;
		grid-row-end: 4;

	}






	

}

	

	
		
		
			
		
	




		

		
	
	

